*{
	margin: 0;
	padding: 0;
}
a{text-decoration: none;}
.nav,.wp{
	width: 1180px;
	margin: 0 auto;
}
.nav{
	height: 40px;
	background: #262626;
}
.nav a{
	display: block;
	width: 48px;
	height: 40px;
	font-size: 10px;
	color: #bfbfbf;
	float: left;
	line-height: 40px;
	text-align: center;
}
.nav .fl{
	width: 1px;
	height: 12px;
	background: #444444;
	margin: 14px 10px;
	float: left;
}
.nav .shopcar{
	width: 124px;
	height: 40px;
	color: #bfbfbf;
	text-align: center;
	line-height: 40px;
	float: right;
	background: #343434;
	margin-left: 20px;
}
.nav .fr{
	width: 1px;
	height: 12px;
	background: #444444;
	margin: 14px 10px;
	float: right;
}
.nav .f1{
	display: block;
	width: 48px;
	height: 40px;
	font-size: 10px;
	color: #bfbfbf;
	float: right;
	line-height: 40px;
	text-align: center;
}
.nav .login{
	display: block;
	width: 24px;
	height: 40px;
	font-size: 10px;
	color: #bfbfbf;
	float: right;
	line-height: 40px;
	text-align: center;
	margin-left: 10px;
}
.nav .login-2{
	display: block;
	width: 24px;
	height: 40px;
	font-size: 10px;
	color: #bfbfbf;
	float: right;
	line-height: 40px;
	text-align: center;
}
.nav a:hover{
	color: #F5F5F5;
}
#nav-wrap{
	height: 40px;
	background: #262626;
}
.wp{
	width: 1180px;
	height: 80px;
	/* border-bottom: 1px solid #e8e8e8; */
	
}
.wp .logo{
	display: block;
	width: 168px;
	height: 40px;
	margin-top: 20px;
	float: left;
	line-height: 40px;
}
.wp .logo .name{
	font-size: 26px;
	color: #262626;
	vertical-align: middle;
}
.wp .logo .icon-logo{
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	background-image: url(../images/1.jpg) ;
	background-position: -617px -30px;
	width: 44px;
	height: 36px;
	background-repeat: no-repeat;
}
.wp .menu{
	list-style: none;
	margin-left: 75px;
	height: 80px;
	line-height: 80px;
	float: left;
	color: ;
}
.wp .menu li{
	float: left;
	padding: 0 25px;
	font-size: 14px;
}
.wp .menu li a{
	color: #202020;
}
.wp .menu li a:hover{
	color: red;
}




/* //登录框 */
.denglu{
	height: 560px;
	position: relative;
}
.pen1{
	width: 100%;
	height: 100%;
	display: block;
	min-width: 1200px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-image: url(../images/s1.png) ;
}
.denglu .login-form{
	width: 400px;
	height: 390px;
	padding-top: 30px;
	background: #f6f6f7;
	font-size: 10px;
	color: 38c8c8c;
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: 200px;
	z-index: 1;
}
.denglu .login-form .login-form-tit{
	overflow: hidden;
	margin: 0 40px 40px;
}
.denglu .login-form .login-form-tit .login-form-tit1{
	font-size: 18px;
	line-height: 1.1;
	float: left;
	width: 158px;
	text-align: center;
	cursor: pointer;
}
.denglu .login-form .login-form-tit .login-form-line{
	float: left;
	margin-top: 2px;
	font-size: 14px;
	color: #8d8d8d;
	width: 4px;
}
.input-row{
	width: 300px;
	position: relative;
	overflow: hidden;
	margin: 0 auto 15px;
}
.input-row .input-box{
	position: relative;
}
.input-row .input-box input{
	width: 280px;
	height: 28px;
	padding: 5px 8px;
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	font-size: 12px;
}
.input-row .input-box .input-icon{
	position: absolute;
	right: 14px;
	top: 14px;
	cursor: pointer;
	background-image: url(../images/1.jpg);
	background-position:-164px -30px;
	height: 10px;
	width: 18px;
	background-repeat: no-repeat;
}
.row-auto{
	margin: 10px 50px 20px;
	height: 15px;
}
.row-auto .check-label  input{
	margin: 0 4px 0 0;
	vertical-align: middle;
}
.row-auto .zhengze{
	color: #ea413c;
	float: right;
}
.row-btn{
	margin-bottom: 10px;
}
.row-btn .login-btn{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	border-radius: 2px;
	background: #ea413c;
	color: rgba(255,255,255,0.5);
}
.row-links{
	color: #bfbfbf;
	height: 20px;
	margin-bottom: 35px;
	font-size: 12px;
}
.row-links .zhuce{
	color: #595959;
	float: left;
}
.row-links .backpass{
	float: right;
}
.row-cen{
	text-align: center;
}
/*注册框*/
.login-form-2{
	width: 400px;
	height: 390px;
	padding-top: 30px;
	background: #f6f6f7;
	font-size: 10px;
	color: 38c8c8c;
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: 200px;
	z-index: 1;
	display: none;
}
.login-form-2 p{
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 400px;
	height: 20px;
	line-height: 20px;
}
.login-form-2 .phone{
	display: block;
	width: 300px;
	height: 40px;
	margin: 0 auto 15px;
}
.login-form-2 .fast{
	display: block;
	width: 300px;
	height: 40px;
	margin: 0 auto 15px;
	background: #ea413c;
	color: rgba(255,255,255,0.5);
	line-height: 40px;
	font-size: 20px;
	text-align: center;
}
.login-form-2 .checkbox{
	margin-left: 110px;
}
.login-form-2 .backlogin{
	display: block;
	width: 200px;
	height: 30px;
	color: #8c8c8c;
	cursor: pointer;
	margin-top: 50px;
	margin-left:110px;
	font-size: 20px;
	line-height: 30px;
}







/*底部*/
.footer{
	height: 430px;
	background: #fff;
	text-align: center;
	position: relative;
}
.service{
	height: 280px;
	border-bottom: 1px solid #e8e8e8;
}
.service .intro{
	width: 580px;
	float: left;
	padding-top: 40px;
	color: #262626;
}
.service .intro .flag{
	font-size: 16px;
	margin-bottom: 45px;
}
.service .intro .list li{
	float: left;
	width: 65px;
	margin: 0 25px;
	list-style: none;
}
.service .intro .list li .li-icon{
	width: 64px;
	height: 64px;
	display: inline-block;
	margin-bottom: 20px;
	background-position: -104px -142px;
	background-image: url(../images/1.png);
	background-repeat: no-repeat;
}
.service .intro .list li span{
	font-size: 16px;
}
.follow{
	float: left;
	width: 276px;
	height: 200px;
	padding: 0 42px;
	margin-top: 43px;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	font-size: 18px;
	color: #262626;
}
.follow .desc{
	margin-bottom: 24px;
}
.follow .qrcode{
	list-style: none;
}
.follow .qrcode li:first-child{
	margin-right: 36px;
}
.follow .qrcode li{
	float: left;
	width: 120px;
}
.follow .qrcode li img{
	width: 120px;
	height: 120px;
	margin-bottom: 10px;
	border: none;
	outline: none;
}
.contact{
	float: right;
	width: 235px;
	padding-top: 40px;
}
.contact .s-after{
	display: inline-block;
	width: 175px;
	height: 70px;
	font-size: 14px;
	list-style: none;
}
.contact .s-after li:first-child{
	width: 87px;
	margin-right: 11px;
	display: inline-block;
}
.contact .s-after li .s-icon{
	display: block;
	margin: 0 auto 15px;
	background-position: -374px -82px;
	height: 48px;
	width: 48px;
	background-repeat: no-repeat;
	background-image: url(../images/1.png);
}
.contact .s-after li{
	width: 72px;
	display: inline-block;
}
.btm{
	padding-top: 23px;
	border-top: 1px solid #e8e8e8;
	width: 180px;
	margin: 20px auto 0;
}
.btm .name{
	font-size: 16px;
	color: #262626;
}
.btm .tel{
	margin: 20px 0 15px;
	color: #e14d4d;
	font-size: 24px;
	display: block;
}
.btm .time{
	color: #8c8c8c;
	font-size: 12px;
}
.footer .links{
	padding-top: 53px;
	line-height: 30px;
	color: #8c8c8c;
	font-size: 12px;
}
.footer .links a{
	color: #8c8c8c;
	margin: 0 10px;
}
.footer .copyright{
	font-size: 12px;
	color: #8c8c8c;
	line-height: 30px;
}